@font-face {
  font-family: retro;
  src: url('../public/nes2.ttf');
}


.App {
  text-align: center;
  background-image: url('../public/wallpapers/basic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;  
}

.PlayButton {
  color: white;
  position: absolute;
  text-align: center;
  bottom: 33%;
  left: 45%;
  font-size: 2em;
  border: 2px solid red;
  padding: 10px;
  font-family: retro;  
}

.AudioBox {
  position: absolute;
  bottom: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
