@font-face {
  font-family: retro;
  src: url('../public/nes2.ttf');
}


.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;  
}

.Control {
  position: absolute;
  text-align: center;
  bottom: 22%;
  left: 45%;
}

.Button {
  color: white;  
  margin: 5px;
  font-size: 2em;
  border-bottom: 2px solid red;
  padding: 10px;
  font-family: retro;  
}

.PlayList {
  color: white;
  position: absolute;
  text-align: left;  
  top: 50%;
  width: 27%;
  right: 30%;
  font-size: 1.2em;
  border-bottom: 2px solid blue;
  padding: 10px;
  font-family: retro;   
  list-style-type: none; 
}

img {
  width: 100%;
  height: 100%;
}

.Logo {
  position: absolute;
  left: 30%;
  top: 30%;  
  width: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
