@font-face {
  font-family: retro;
  src: url('../public/nes2.ttf');
}

img {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.ForkMe {
  position: absolute;
  top:0;
  right: 0;
  width: 10%;
}

.Osd {
  color: green;
  font-family: retro;
  font-size: 2em;
  position: absolute;
  top: 18%;
  right: 27%;
}


.Control {
  position: absolute;
  text-align: center;
  bottom: 18%;
  left: 45%;
  user-select: none;
}

.Button {
  color: white;
  margin: 5px;
  font-size: 2em;
  border-bottom: 2px solid red;
  padding: 10px;
  font-family: retro;
}

.PlayList {
  color: white;
  position: absolute;
  text-align: left;
  top: 50%;
  width: 26%;
  right: 26%;
  font-size: 1.3em;
  border-bottom: 2px solid blue;
  padding: 10px;
  font-family: retro;
  list-style-type: none;
}

.Logo {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
}

.Visualizer {
  position: absolute;
  left: 28%;
  bottom: 18%;  
  height: 20%;
}

.Canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 20px;
}