@media (max-width: 1440px) {

  img {
    width: 100%;
    height: 100%;
  }

  .App {
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .Osd {
    color: green;
    font-family: retro;
    font-size: 2em;
    position: absolute;
    top: 20%;
    right: 10%;
  }


  .Control {
    position: absolute;
    text-align: center;
    bottom: 110px;
    left: 580px;
    user-select: none;
  }

  .Button {
    color: white;
    margin: 5px;
    font-size: 2em;
    border-bottom: 2px solid red;
    padding: 10px;
    font-family: retro;
  }

  .PlayList {
    color: white;
    position: absolute;
    text-align: left;
    top: 230px;
    width: 550px;
    left: 430px;
    font-size: 1.3em;
    border-bottom: 2px solid blue;
    padding: 10px;
    font-family: retro;
    list-style-type: none;
  }

  .Logo {
    position: absolute;
    left: 450px;
    top: 140px;
    width: 500px;
  }

  .Visualizer {
    position: absolute;
    left: 570px;
    bottom: 230px;
  }

  .Canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}